* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'JK Gothic L', Arial, Verdana, sans-serif;
  font-size: 1.2em;
}

a {
  text-decoration: none;
  color:black;
}

p {
  line-height: 1.5em;
}
