@charset "UTF-8";
/* 関数 */
/* カラー変数 */
/* フォント */
* {
  box-sizing: border-box; }

body {
  font-family: 'BokutachinoGothic2Regular', Arial, Verdana, sans-serif;
  background-color: #FAF5CD;
  margin: 0;
  padding: 0; }

a {
  color: black;
  text-decoration: none; }

p {
  font-size: 1rem;
  line-height: 1.7; }

ul, li {
  list-style: none; }

/* Header */
#header {
  display: flex;
  align-items: flex-end;
  background-color: #83E3C2;
  justify-content: space-between;
  padding: 0 1.5rem .5rem 1.5rem; }
  #header .header-logo {
    display: flex;
    align-items: center;
    text-align: center;
    margin-top: 2.5rem; }
    #header .header-logo img {
      border-radius: 50%; }
    #header .header-logo .media-title {
      margin-left: .5rem; }
      #header .header-logo .media-title h1 {
        font: bold 3rem SHIASATTE; }
      #header .header-logo .media-title p {
        margin-top: 1.5rem; }
  #header .header-nav ul {
    display: flex; }
    #header .header-nav ul li {
      border-bottom: 0.3125rem dotted #83E3C2;
      font-size: 1.2rem;
      margin-left: 3rem; }
      #header .header-nav ul li:hover {
        border-bottom: 0.3125rem dotted #1c7e5c; }

/* main */
.main-wrapper {
  margin: 3rem auto;
  width: 90%; }
  .main-wrapper .heading {
    font: bold 2.3rem Kaiso;
    width: 15%;
    text-align: center;
    border-bottom: 0.4375rem dashed #F5AC88;
    padding-bottom: .8rem;
    margin-bottom: 2rem; }

/* popular-posts@page.html */
.popular-posts {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  grid-template-areas: "area1  area3" "area2  area3";
  margin: 3rem auto 8rem auto;
  width: 100%; }
  .popular-posts .popular-post:nth-child(1) {
    grid-area: area1; }
  .popular-posts .popular-post:nth-child(2) {
    grid-area: area2; }
  .popular-posts .popular-post:nth-child(3) {
    grid-area: area3; }
  .popular-posts .popular-post {
    background-image: url(http://placehold.jp/150x50.png);
    opacity: 0.8;
    padding: 2.5rem 2.5rem; }
    .popular-posts .popular-post:hover {
      cursor: pointer;
      opacity: 1; }
    .popular-posts .popular-post header {
      display: flex;
      justify-content: space-between;
      margin-bottom: 2rem; }
      .popular-posts .popular-post header .popular-title {
        font: bold 2rem uzura_font; }
      .popular-posts .popular-post header .popular-category {
        background-color: #f7bca0;
        padding: .4rem; }

/* posts */
.posts {
  margin: 3rem auto;
  width: 85%; }
  .posts .post {
    background-color: #c1f1e1;
    border-radius: 0.3125rem;
    margin-bottom: 1.7rem;
    opacity: 0.8;
    padding: 1rem; }
    .posts .post:hover {
      cursor: pointer;
      opacity: 1; }
    .posts .post header {
      display: flex;
      justify-content: space-between;
      margin-bottom: .8rem; }
      .posts .post header .post-title {
        font: bold 1.5rem uzura_font; }
      .posts .post header .post-category {
        background-color: #f7bca0;
        padding: .1rem; }

.single {
  display: grid;
  grid-template-columns: auto 25%;
  grid-gap: 2rem;
  margin: 4rem auto;
  width: 95%; }
  .single .single-content {
    background-color: #fff; }
  .single .single-post {
    margin: 3rem auto;
    width: 85%; }
    .single .single-post header {
      display: flex;
      justify-content: space-between; }
      .single .single-post header .single-title {
        font-size: 2rem;
        font-weight: bold;
        font-family: uzura_font; }
      .single .single-post header .single-category {
        background-color: #f7bca0;
        padding: .1rem; }
    .single .single-post .txt-content {
      margin: 3rem 0; }
    .single .single-post .share ul {
      display: flex;
      justify-content: flex-end; }
      .single .single-post .share ul li {
        margin-left: 1.5rem;
        margin-top: 1rem; }

.sidebar {
  width: 85%;
  margin: 0 auto; }
  .sidebar .side-content {
    background-color: #c1f1e1;
    border-radius: .5rem;
    margin-bottom: 2rem;
    padding: 2.5rem 0;
    text-align: center; }
  .sidebar h3 {
    font-size: 1.3rem; }
  .sidebar ul {
    margin: 2rem 0; }
    .sidebar ul li {
      margin: 1rem 0; }

.released-date {
  margin-top: 1rem; }

/* page-nav */
.page-nav ul {
  display: flex;
  justify-content: center; }
  .page-nav ul li {
    border-bottom: 0.0625rem solid #FAF5CD;
    margin: 0 1rem; }
    .page-nav ul li:hover {
      border-bottom: 0.0625rem solid black;
      cursor: pointer; }

.more-nav {
  text-align: right; }

/* profiles */
.profiles {
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  width: 50%; }
  .profiles .profile {
    text-align: center;
    margin-bottom: 3rem; }
    .profiles .profile h3 {
      font-size: 1.8rem;
      font-weight: bold; }
    .profiles .profile img {
      border-radius: 50%;
      margin: 1.7rem 0; }
    .profiles .profile a {
      display: inline-block;
      margin: 1.5rem 0; }

/* footer */
footer {
  background-color: #83E3C2; }
  footer .footer-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 1.5rem; }
    footer .footer-container .footer-logo {
      margin: 1.5rem 0;
      text-align: center; }
      footer .footer-container .footer-logo img {
        border-radius: 50%; }
      footer .footer-container .footer-logo h1 {
        font: bold 2rem SHIASATTE;
        margin: 1rem 0; }
      footer .footer-container .footer-logo p {
        font-size: .8em; }
    footer .footer-container .social ul {
      display: flex;
      margin: 3rem 10.5rem 0 0; }
      footer .footer-container .social ul li {
        font-size: 1.3rem;
        margin-right: 2rem; }
    footer .footer-container .footer-nav ul {
      text-align: right; }
      footer .footer-container .footer-nav ul li {
        border-bottom: 0.25rem dotted #83E3C2;
        font-size: 1.1em;
        margin-bottom: 1rem; }
        footer .footer-container .footer-nav ul li:hover {
          border-bottom: 0.25rem dotted #1c7e5c; }
  footer .copyright {
    padding: .2rem;
    text-align: center; }

/*# sourceMappingURL=style.css.map */
